<div
  class="slider-container"
  [ngStyle]="{
    height: calHeightValue,
    width: calWidthValue
  }"
>
  <div class="slider">
    <!-- <div class="wrapper" [ngStyle]="{ transform: translationValue }"> -->
    <div class="wrapper" [ngStyle]="{ transform: translationValue }">
      @for (image of images; track image) {
      <div class="slide">
        <img
          draggable="false"
          priority
          class="image"
          [src]="image"
          fill
          alt="image"
        />
      </div>
      }
    </div>

    <div>
      <!-- [disabled]="currentIndex === 0" -->
      <button class="btn buttom right" (click)="previousSlide()">
        &#10094;
      </button>
      <button class="btn buttom left" (click)="nextSlide()">&#10095;</button>
      <!-- [disabled]="currentIndex === images.length - 1" -->
    </div>

    <div class="dots">
      @for (image of images; track image; ) {
      <button
        (click)="currentIndex = $index"
        [disabled]="$index === currentIndex"
        class="dot"
        [ngClass]="{ 'dot-active': $index === currentIndex }"
      ></button>
      }
    </div>
  </div>
</div>
