.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: start;
  right: 0;
  padding-bottom: 0.8rem;
  padding-right: 3rem;
  text-align: right !important;
}

.swiper-pagination-bullet {
  // border-radius: 0 !important;
  background-color: black !important;
  opacity: 0.4 !important;
  width: 8px !important;
  height: 8px !important;
}

.swiper-pagination-bullet-active {
  padding: 0 0.4rem;
  border-radius: 0;
  opacity: 1 !important;
  border-radius: 9px !important;
  background-color: white !important;
}
