/* You can add global styles to this file, and also import other style files */

.slider {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.wrapper {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.7s ease;
}

.slide {
  // flex-grow: 0;
  // flex-shrink: 0;
  // flex-basis: 100%;
  flex: 0 0 100%;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: aqua;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  // top: 50%;
  // transform: translateY(-50%);
  transition: opacity 0.3s;
  position: absolute;
  bottom: 1rem;
  border-radius: 50%;
  border: none;
  width: 40px;
  height: 40px;
  background-color: #efefefaf;
  cursor: pointer;
  z-index: 1;
  opacity: 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.slider:hover .btn {
  opacity: 1;
}

.btn:hover {
  background-color: white;
}

.btn:disabled {
  background-color: #ffffff43;
  cursor: default;
}

.right {
  // right: 1rem;
  left: 4rem;
}

.left {
  left: 1rem;
  padding-right: 7px;
}

.dots {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

$dot-size: 12px;
.dot {
  height: $dot-size;
  width: $dot-size;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  border: none;
  padding: 0 5px;
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: background-color 0.3s ease, border-radius 0.3s ease,
    padding 0.3s ease;
}

.dot-active {
  background-color: #35b5ff;
  border-radius: calc($dot-size - 2px);
  padding: 0 calc($dot-size - 2px);
  cursor: default;
}
